<div class="page">
  <div class="card">

    <h2 class="title">Edit Company</h2>

    <form [formGroup]="form" class="form">

    
      <div class="form-group">
        <label>Name:</label>
        <input formControlName="name">
        <div class="error" *ngIf="form.get('name')?.touched && form.get('name')?.invalid">
          Name is required.
        </div>
      </div>

     
      <div class="form-group">
        <label>CNPJ:</label>
        <input formControlName="cnpj">

       
        <div class="error" *ngIf="form.get('cnpj')?.touched && form.get('cnpj')?.hasError('required')">
          CNPJ is required.
        </div>

       
        <div class="error" *ngIf="form.get('cnpj')?.touched && form.get('cnpj')?.hasError('invalidLength')">
          CNPJ must have exactly 14 digits.
        </div>


        <div class="error" *ngIf="form.get('cnpj')?.hasError('exists')">
          This CNPJ already exists.
        </div>
      </div>

      
      <div class="form-group">
        <label>Address:</label>
        <input formControlName="address">
        <div class="error" *ngIf="form.get('address')?.touched && form.get('address')?.invalid">
          Address is required.
        </div>
      </div>

     
      <h3>Employees</h3>

      <div class="company-list">
        <label *ngFor="let emp of employees">
          <input
            type="checkbox"
            [checked]="form.value.employees.includes(emp.id)"
            (change)="toggleEmployee(emp.id, $event)"
          >
          {{ emp.name }} ({{ emp.cpf }})
        </label>
      </div>

      <hr>

    
      <div class="actions">
        <button class="btn primary" type="button" (click)="save()">Save</button>
        <button type="button" class="btn" (click)="cancel()">Cancel</button>
      </div>

    </form>

  </div>
</div>
